app-dynamite {
  position: absolute !important;
  cursor: grab;
}

.box-person {
  width: 200px;
  text-align: center;
  margin: 12px;
  position: relative;
  transition: all linear 0.5s;
}
.animate__fadeOut {
  transform: scale(0.5);
}
.avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid green;
  position: relative;
}

.box-person.standby .avatar {
  border: 6px solid #ffcf94;
  cursor: not-allowed;
}

.box-person.alive:not(.selected) .avatar {
  cursor: url("../../assets/img/crosshair.png"), auto;
}

.box-person.alive.selected .avatar {
  cursor: grab;
}
.box-person .name {
  font-weight: 600;
  font-size: 18px;
}
.number{
  position: absolute;
  font-weight: 500;
  padding-top: 10px;
  font-size: 24px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  z-index: 10;
  height: 60px;
  background-color: #1a2f5a;
  color: #fff;
  border-radius: 50%;
  
}
// .border-love::before{
//   content: "";
//   position: absolute;
//   top: -5px;
//   bottom: -5px;
//   background-image: url("../../assets/img/love-border.png");
//   background-size: cover;
// }