app-dynamite {
  position: absolute !important;
  cursor: grab;
}

.box-person {
  width: 200px;
  text-align: center;
  margin: 12px;
  position: relative;
  transition: all linear 0.5s;
}

.box-person.standby {
  opacity: 0.5;
}

.box-person.dead {
  opacity: 0.5;
}
.avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid green;
  position: relative;
}
.box-person.dead .avatar::before {
  transform: rotate(45deg);
}
.box-person.dead .avatar::after {
  transform: rotate(-45deg);
}
.box-person.standby .avatar {
  border: 6px solid darkorange;
  cursor: not-allowed;
}
.box-person.dead .avatar {
  border: 6px solid red;
  cursor: not-allowed;
}
.box-person.dead .avatar::before,
.box-person.dead .avatar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0%;
  top: 48%;
  background-color: red;
}

.box-person.alive:not(.selected) .avatar {
  cursor: url("../../assets/img/crosshair.png"), auto;
}

.box-person.alive.selected .avatar {
  cursor: grab;
}
.box-person .name{
  font-weight: 600;
  font-size: 18px;
}
.star {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  z-index: 999;
  height: 40px;
  background-image: url("../../assets/img/star.png");
  background-position: center;
  background-size: cover;
}
