.login-background {
  background-image: url("../../../assets/img/party-stuff.svg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.login-row {
  height: calc(90vh - 56px);
  align-items: center;
}
.form-login {
  padding: 12px;
  border: 1px solid #198754;
  border-radius: 2px;
  background-color: #fff;
}
