.list-number-select{
  margin: 4px;
  padding: 3px 10px;
  width: 40px;
  height: 32px;
  background-color: rgb(4, 30, 66);
  color: #fff;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
}

.accordion-button{
  font-size: 18px;
  font-weight: 600;
}

.card img {
  padding: 16px;
}

.card.status-alive {
 border-color: rgb(4, 30, 66);
}

.card.status-dead {
 border-color: #ff0008;
}

.card.status-standby {
 border-color: #ffcf94;
}
