<!-- <div class="row" style="overflow: hidden">
  <div class="col-sm-3 col-xs-12">
    <span class="list-number-select">
      {{ player.number }}
    </span>
  </div>

  <div class="col-sm-9 col-xs-12">
    <form (submit)="save()" [formGroup]="playerForm">
      <div class="form-group">
        <label [for]="'name-' + player._id">Name</label>
        <input
          type="text"
          class="form-control"
          [id]="'name-' + player._id"
          [value]="player.name"
          placeholder="Enter Name"
          formControlName="name"
        />
      </div>
      <div class="form-group">
        <label [for]="'status-' + player._id">Status</label>
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="status"
        >
          <option
            [id]="'status-' + player._id"
            *ngFor="let status of playerStatuses"
            [value]="status.value"
          >
            {{ status.key }}
          </option>
        </select>
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          [id]="'has-star-' + player._id"
          formControlName="star"
        />
        <label class="form-check-label" [for]="'has-star-' + player._id"
          >Has star</label
        >
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div> -->

<!-- todo replace text One to player.number -->
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{ player.number }} - {{ player.name }}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form (submit)="save()" [formGroup]="playerForm">
          <div class="form-group">
            <label [for]="'name-' + player._id">Name</label>
            <input
              type="text"
              class="form-control"
              [id]="'name-' + player._id"
              [value]="player.name"
              placeholder="Enter Name"
              formControlName="name"
            />
          </div>
          <div class="form-group">
            <label [for]="'status-' + player._id">Status</label>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="status"
            >
              <option
                [id]="'status-' + player._id"
                *ngFor="let status of playerStatuses"
                [value]="status.value"
              >
                {{ status.key }}
              </option>
            </select>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [id]="'has-star-' + player._id"
              formControlName="star"
            />
            <label class="form-check-label" [for]="'has-star-' + player._id"
              >Has star</label
            >
          </div>
          <div class="text-end"><button type="submit" class="btn btn-primary">Save</button></div>
        </form>
      </div>
    </div>
  </div>
</div>