.box-person {
  width: 160px;
  text-align: center;
  margin: 12px;
  position: relative;
  transition: all linear 0.5s;
  cursor: url("../../assets/img/shovel.png"), auto;
}

.avatar {
  width: 160px;
  height: 132px;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
  background-image: url("../../assets/img/gravestone.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  .name {
    position: absolute;
    right: 26px;
    width: 62px;
    text-align: center;
    top: 34px;
    font-weight: 900;
    font-size: 24px;
    z-index: 1;
    color: #fff;
    transform: rotateY(25deg);
    letter-spacing: 2px;
  }
}

.wait {
  cursor: wait !important;
}
