<div class="group-box-person">
  <div
    *ngFor="let player of players | async"
    [className]="'box-person ' + player.status"
     [ngClass]="{'selected': player.selected}"
     (click)="onPlayerSelect(player, $event)"
  >
    <div class="avatar">
      <img src="assets/img/avatar-default.png" width="100%" alt="" />
    </div>
    <div class="name">{{ player.name }}</div>
  </div>
</div>


<nav class="navbar fixed-bottom navbar-light bg-light animate__animated animate__bounce">
  <button type="button" class="button-3d" (click)="boom()">Boom!</button>
</nav>
