.group-box-person {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: 1s all linear;
  padding-bottom: 120px;
}

app-player {
  position: relative;
}

.box-person {
  transition: 1s all linear;
}
