<div class="group-box-person">
  <ng-container *ngFor="let player of players | async">
    <app-player
      (onSelect)="onSelectHandler($event)"
      (onDeselect)="onDeselectHandler($event)"
      [player]="player"
    ></app-player>
  </ng-container>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <button
    type="button"
    class="button-3d animate__animated animate__slideInUp animate__fastest"
    [ngClass]="{ animate__slideOutDown: !isDisplayActionBar }"
    (click)="boom()"
  >
    Boom!
  </button>
  <button type="button" class="button-3d animate__animated animate__slideInUp animate__fastest" (click)="revive()">Revive</button>
</nav>
