.group-box-person {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-person {
  width: 200px;
  text-align: center;
  margin: 12px;
  &.selected {
    border: 1px solid #ccc;
  }
}
.avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid green;
  position: relative;
}

.box-person.standby {
  opacity: 0.5;
}
.box-person.dead {
  opacity: 0.5;
}
.box-person.standby .avatar {
  border: 6px solid darkorange;
}
.box-person.dead .avatar {
  border: 6px solid red;
}
.box-person.dead .avatar::before,
.box-person.dead .avatar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0%;
  top: 48%;
  background-color: red;
}
.box-person.dead .avatar::before {
  transform: rotate(45deg);
}
.box-person.dead .avatar::after {
  transform: rotate(-45deg);
}
