<div class="group-box-person">
  <ng-container *ngFor="let player of players$ | async">
    <app-player
      (onSelect)="onSelectHandler($event)"
      (onDeselect)="onDeselectHandler($event)"
      [player]="player"
    ></app-player>
  </ng-container>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <button
    type="button"
    class="button-3d animate__animated animate__slideInUp animate__fastest"
    [ngClass]="{ animate__slideOutDown: !isDisplayActionBar }"
    (click)="boom()"
  >
    Boom!
  </button>

  <div class="box-input-form">
    <div style="flex: 1 1 auto" class="flex-auto">
      <span
        class="list-number-select"
        *ngFor="let selectedPlayer of selectedPlayers"
      >
        {{ selectedPlayer.number }}
      </span>
    </div>

    <form (submit)="onSubmit()" [formGroup]="addSelectedPlayersForm">
      <input
        type="number"
        name="palyerId"
        id="playerId"
        class="form-control custom-input"
        formControlName="number"
        max="99"
        min="0"
        placeholder="Enter number"
      />
      <div class="mt-3">
        <span>Alive: {{(players$ | async).length}}/{{ totalPlayers }}</span> -
        <span>Has star: {{ totalStars }}</span>
      </div>
    </form>
  </div>

  <button
    type="button"
    class="button-3d animate__animated animate__slideInUp animate__fastest"
    (click)="revive()"
  >
    Revive
  </button>
</nav>
