.background {
  // background-image: url("../../assets/img/party-stuff.svg");
  background-size: cover;
  background-position: bottom;
  background-blend-mode: darken;
  background-position: center;
  position: fixed;
  width: 100%;
  height: calc(100vh - 56px);
  top: 56px;
  left: 0;
  z-index: -1;
  transition: 1s all ease-in-out;
  transition-delay: 250ms;
  &.homepage {
    background-image: url("../../assets/img/background/bg-home-0.png");
    background-color: #ffe1fe;
  }

  &.graveyard {
    background-image: url("../../assets/img/background/bg-graveyard.png");
  }
}
