.page-wrapper {
  height: calc(100vh - 8px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  padding-top: 56px;
  margin-top: 0;
}

.text-ctm {
  font-size: 500px;
  color: rgba(204, 204, 204, 0.4117647059);
  position: fixed;
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
}

/** Image gallery style **/
.gallery {
  width: calc(100vw - 16px);
  .slider {
    text-align: center;
    img {
      height: 100px;
      width: 100px;
    }
  }
  .current-selected {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .current-selected__avatar {
      padding-left: 0 0 64px 64px;
      padding-bottom: 64px;
      width: 25%;
      img {
        width: 250px;
        border-radius: 50%;
      }
    }
    .current-selected__quote {
      font-size: 48px;
      width: 60%;
    }
  }
}

@keyframes slide {
  from {
    left: 0;
  }
  to {
    left: 100;
  }
}
