<div class="page-wrapper" @fadeAnimation>
  <!-- <h1 class="text-ctm">C T M</h1> -->
  <div class="gallery">
    <div
      class="current-selected animate__animated animate__fadeIn animate__faster"
      *ngIf="currentQuote"
    >
      <div
        #currentAvatar
        [class]="
          'current-selected__avatar animate__animated animate__faster animate__fadeInLeft'
        "
      >
        <img
          [src]="getAvatar(currentQuote)"
          (load)="onCurrentAvatarLoaded()"
          (error)="onCurrentAvatarError($event)"
          alt=""
        />
      </div>
      <div
        [class]="
          'current-selected__quote animate__animated animate__faster animate__fadeIn' +
          ''
        "
      >
        <div
          #currentQuoteHolder
          [class]="'animate__animated animate__faster animate__fadeInRight'"
        >
          <h1>
            {{ currentQuote.quote || defaultQuoteText }}
          </h1>
          <h4 class="mt-4">&mdash; {{ currentQuote.name }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="queue-quote-selection d-none d-md-block" #queueQuoteSelectionHolder>
  <div class="queue-quote-selection__toggle" (click)="toggleSelection()">
    <div class="queue-quote-selection__toggle__content"></div>
  </div>
  <div class="queue-quote-selection__selected">
    <img
      class="queue-quote-selection__img"
      *ngFor="let next of queue; index as i; trackByIndex"
      (click)="removeFromQuoteQueue(i)"
      [src]="getAvatar(next)"
    />
  </div>
  <div class="queue-quote-selection__list">
    <img
      class="queue-quote-selection__img"
      *ngFor="let quote of allPlayers"
      (click)="addToQuoteQueue(quote)"
      [src]="getAvatar(quote)"
    />
  </div>
</div>

<app-background [isRandomBg]="true"></app-background>
