.page-wrapper {
  height: calc(100vh - 56px);
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  margin-top: 56px;
}

.text-ctm {
  font-size: 500px;
  color: rgba(204, 204, 204, 0.4117647059);
  position: fixed;
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
}

/** Image gallery style **/
.gallery {
  width: calc(100vw);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .current-selected {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.25);
    .current-selected__avatar {
      padding-left: 0 0 64px 64px;
      width: 25%;
      text-align: right;
      img {
        width: 300px;
        border-radius: 50%;
      }
    }
    .current-selected__quote {
      font-size: 48px;
      width: 60%;
      max-width: 800px;
      position: relative;
      font-weight: 800;
      padding: 30px 0;
      color: #000;
      z-index: 1;
      align-self: center;
      border-top: solid 1px;
      border-bottom: solid 1px;
      font-family: "Dancing Script";
      &::after {
        position: absolute;
        content: "”";
        color: #000;
        font-size: 10rem;
        line-height: 0;
        bottom: -50px;
        right: 30px;
      }
      h1 {
        position: relative;
        font-size: 40px;
        letter-spacing: 0.8;
        line-height: 1;
        margin: 0;
        color: #000;
      }
      h4 {
        color: #000;
      }
    }
  }
}

.queue-quote-selection {
  position: fixed;
  top: calc(100vh - 32px);
  left: 0;
  flex-direction: column;
  width: 100%;
  display: flex;
  height: calc(100vh - 56px);
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: 300ms linear all;
  .queue-quote-selection__toggle {
    cursor: pointer;
    width: 100%;
    height: 32px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    .queue-quote-selection__toggle__content {
      width: 80px;
      height: 8px;
      border-top: 1px solid #fff;
      left: calc(50% - 40px);
      top: 12px;
      position: absolute;
      border-bottom: 1px solid #fff;
    }
  }
  .queue-quote-selection__selected {
    padding: 8px;
    margin-top: 32px;
    background-color: rgba(0,0,0,0.7);
  }
  .queue-quote-selection__list {
    text-align: left;
    padding: 8px;
  }
  .queue-quote-selection__img {
    width: 80px;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
  }
  &.open {
    animation: slide-top;
    animation-duration: 0.3s;
    top: 56px;
    overflow-y: auto;
  }
}

@keyframes slide {
  from {
    left: 0;
  }
  to {
    left: 100;
  }
}

@keyframes slide-top {
  from {
    top: 100vh;
  }
  to {
    top: 56px;
  }
}

@media (max-width: 1024px) {
  .gallery {
    flex-direction: column;
    .current-selected {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: rgba(255, 255, 255, 0.6);
      .current-selected__avatar {
        width: 60%;
        text-align: center;
        margin-bottom: 48px;
        img {
          width: 300px;
          border-radius: 50%;
        }
      }
      .current-selected__quote {
        font-size: 48px;
        width: 60%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .gallery {
    .current-selected {
      .current-selected__avatar {
        width: 100%;
        text-align: center;
        margin-bottom: 48px;
        img {
          width: 300px;
          border-radius: 50%;
        }
      }
      .current-selected__quote {
        font-size: 48px;
        width: 100%;
      }
    }
  }
}
