.page-wrapper {
  height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text-ctm {
  font-size: 500px;
  color: #cccccc69;;
}

/** Image gallery style **/
