.queue-quote-selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  position: fixed;
  top: calc(100vh - 32px);
  left: 0;
  flex-direction: column;
  width: 100%;
  display: flex;
  height: calc(100vh - 56px);
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: 300ms linear all;
  .queue-quote-selection__toggle {
    cursor: pointer;
    width: 100%;
    height: 32px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    .queue-quote-selection__toggle__content {
      width: 80px;
      height: 8px;
      border-top: 1px solid #fff;
      left: calc(50% - 40px);
      top: 12px;
      position: absolute;
      border-bottom: 1px solid #fff;
    }
  }
  .queue-quote-selection__selected {
    padding: 8px;
    margin-top: 32px;
    background-color: rgba(0,0,0,0.7);
  }
  .queue-quote-selection__list {
    text-align: left;
    padding: 8px;
  }
  .queue-quote-selection__img {
    width: 80px;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
  }
  &.open {
    animation: slide-top;
    animation-duration: 0.3s;
    top: 56px;
    overflow-y: auto;
  }
}

@keyframes slide-top {
  from {
    top: 100vh;
  }
  to {
    top: 56px;
  }
}
